

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


.mainBody{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10rem;
    padding: 1rem;
}


.gameTitle{
    margin: 3rem;
    border-bottom: 5px solid black;
    padding-bottom: 4rem;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}




.gameBoard{
    display: grid;
    align-items: center;
    width: 500px;
    padding: 10px;
    column-gap:30px;
    row-gap: 30px;
    height: 500px;
    grid-template-areas: 
    "gameBox gameBox gameBox gameBox gameBox"
    "gameBox gameBox gameBox gameBox gameBox"
    "gameBox gameBox gameBox gameBox gameBox"
    "gameBox gameBox gameBox gameBox gameBox"
    "gameBox gameBox gameBox gameBox gameBox"
    "gameBox gameBox gameBox gameBox gameBox";
}


.box{  
    border: 3px solid gray;
    grid-area: "gameBox";
    height: 70px;
    width: 70px;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    text-transform: uppercase;
}
